ol {
  list-style: upper-roman;
  margin-left: 2rem
}

p, ol {
  line-height: 1.5;
  margin-bottom: .8rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
